@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: rgb(209, 240, 209);
}

.header {
  background-color: rgb(209, 240, 209);
}

.contactForm{
  margin: 30px;
  width: 100%;
  padding-right: 60px;
}

.defaultArtImg{
  margin: 30px;
  border:rgb(26, 28, 44);
  border-width: 4px;
  border-style: ridge;
  align-self: center;
  margin-top: 10px;
}

.defaultArtTxt{
  align-self: center;
  margin-top: 10px;
  font-weight: bold;

}

.defaultArt{
  display: flex;
  /* justify-content: center; */
  align-items:flex-start;
  flex-direction: column;
  
}

.defaultArtContainer{
  display: flex;
  flex-wrap: wrap;


}